/* CSS reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
}

/* All Website */
#main {
     width: 100%;
     min-height: 100%;
     margin: none;
     background-image: url("Pictures/background.jpg");
     background-attachment: fixed;
}
#navbar {
     margin: none;
     width: 100%;
     position: fixed;
     z-index: 2;
}
#navbar ul {
     list-style: none;
     margin: 0px;
     padding: 0px;
}
#navbar li {
     display: inline;
     float: left;
     width: 25%;
     background-color: #000000cc;
}
#selected {
     margin-top: 5px;
     display: block;
     color: #a3060b;
     font-size: 35px;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     letter-spacing: -0.6px;
     word-spacing: 0.8px;
     font-weight: bold;
     text-decoration: none solid rgb(68, 68, 68);
     font-style: normal;
     font-variant: normal;
     text-transform: capitalize;
     height: 50px;
}
#navbarItem {
     margin-top: 5px;
     display: block;
     color: #f87171;
     font-size: 35px;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     letter-spacing: -0.6px;
     word-spacing: 0.8px;
     font-weight: bold;
     text-decoration: none solid rgb(68, 68, 68);
     font-style: normal;
     font-variant: normal;
     text-transform: capitalize;
     height: 50px;
}

#navbarItem:hover {
     color: #df1010;
}

/*Footer   */
.footer {
     padding: 1rem;
     background: #000000cc;
     height: 40px;
}
.footer-icons li {
     display: inline;
     float: right;
     margin-top: 0px;
}
.footer-left {
     float: left;
     width: 175px;
}
.logo {
     float: left;
}
.footer-by {
     float: right;
     color: white;
}

.fa {
     padding: 15px;
     width: 20px;
     text-align: center;
     border-radius: 50%;
     margin-left: 5px;
}

.fa:hover {
     color: #4a4a4a;
     transition: color 0.3s ease-in;
}

.fa-twitter {
     background: #1cb7eb;
}
.fa-twitch {
     background: #6b2497;
}
.fa-github {
     background: #484f58;
}
.fa-itch {
     background: #fa5c5c;
}

/* Home.html */
.home {
     width: 100%;
}
.WText {
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     font-size: 30px;
     font-style: bold;
     font-family: "Arial Black", Gadget, sans-serif;
     color: #f87171;
     text-shadow: -2px -2px 0 #0f0000, 2px -2px 0 #0f0000, -2px 2px 0 #0f0000, 2px 2px 0 #0f0000;
     width: 500px;
}
.WImg {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 350px;
     height: 500px;
}

/* Stuff */
.site {
     height: 1250px;
     width: 100%;
}
.container {
     width: 100%;
     text-align: center;
}

.SContainer {
     width: 400px;
     margin-left: auto;
     margin-right: auto;
}
.StevnbotText {
     font-size: 15px;
     font-style: bold;
     text-align: left;
     font-family: "Arial Black", Gadget, sans-serif;
     color: #ffffff;
     width: 250px;
     margin-top: 25px;
     float: right;
     vertical-align: middle;
}
.image {
     opacity: 1;
     display: normal;
     align-self: normal;
     width: 150px;
     height: 150px;
     float: left;
     vertical-align: middle;
}
.StuffText {
     text-align: center;
     font-size: 15px;
     font-style: bold;
     font-family: "Arial Black", Gadget, sans-serif;
     color: #ffffff;
}
/*Calculator site*/
.calcSite {
     height: 900px;
     display: normal;
}
/*lOADOUT site*/
.loadSite {
     height: 900px;
     display: normal;
}
/*Tooltips:*/
.tooltip {
     position: relative;
     display: inline-block;
}

.tooltip .tooltiptext {
     visibility: hidden;
     width: 120px;
     background-color: black;
     color: #fff;
     text-align: center;
     padding: 5px 0;
     border-radius: 6px;

     position: absolute;
     z-index: 1;
}

.tooltip:hover .tooltiptext {
     visibility: visible;
}
